@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  header {
    background-image: url(/images/headerimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    img {
      width: 150px;
      @screen lg {
        width: auto;
      }
    }
  }
  .search-button {
    width: 20px;
  }
  p {
    + p {
      @apply mt-4;
    }
  }
  select {
    background-image: url(/images/down-icon.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px 12px;
  }
}